@charset "UTF-8";
/* line 1, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", "Helvetica", "Arial", "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1;
  background: #333333;
}

/* line 22, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
a {
  text-decoration: none;
}

/* line 47, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
.visible-pc {
  display: block;
}
/* line 49, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
.visible-pc-inner {
  width: 700px;
  margin: 0 auto;
  padding: 8px 0 0;
}

/* line 60, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
.l-fix {
  float: left;
}

/* line 64, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
.l-right {
  float: right;
}

/* line 68, /Users/masayahasegawa/programming/rails_projects/PocketTerrace/app/assets/stylesheets/layout.scss */
.pc-header-form {
  position: relative;
  width: calc(100% - (134px + 16px));
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

